<div class="info-rows">
    <div class="row">
        <div class="col-lg-12">
            <h2 id="categoryLink" onclick="pauseVideo()">Categories</h2>
            <p class="categoryBlurb">
                Click on one of the links below to skip to a different part of
                the video.
            </p>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <h3>Awards</h3>
                <ul>
                    <li>
                        <a href="#" onclick="seekTo(20);">Emerging Leader</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(110);">Breakout Student Organization</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(30);">Student Employee</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(105);">Named Award</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(50);">Outstanding Advocate</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(200);">Event of the Year</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(320);">Community Partner of the Year</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(500);">Student Leader of the Year</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(20);">Magic Act #4/Student Group of the Year Award</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <h3>Magic Acts</h3>
                <ul>
                    <li>
                        <a href="#" onclick="seekTo(0);">Magic Act #1</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(0);">Magic Act #2</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(0);">Magic Act #3</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(0);">Magic Act #4/Student Group of the Year Award</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <h3>Ads & More</h3>
                <ul>
                    <li>
                        <a href="#" onclick="seekTo(0);">Tik Tok video</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(0);">Student Orgs</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(0);">Associated Students</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(0);">Student Media</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(0);">Photo Montage</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(0);">Organization #1</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(0);">Organization #2</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(0);">SOS Employee</a>
                    </li>
                    <li>
                        <a href="#" onclick="seekTo(0);">Some Good News</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>