<div class="magic">
    <div class="left-hand">
        <img src="img/handleft.png" alt="left hand in SALPies logo animation"/>
    </div>
    <div class="right-hand">
        <img src="img/handright.png" alt="right hand in SALPies logo animation"/>
    </div>
    <div class="stars">
        <img src="img/stars.gif" alt="sparkly stars in SALPies logo animation"/>
    </div>
    <div class="awards-title">
        <!--<img src="img/SALPies.png" alt="SALPies logo"/>-->
        <h1>Virtual Magic</h1>
    </div>
    <div class="awards-subtitle">
       <!-- <img src="img/2020.png" alt="year 2020 for SALPies logo"/>-->
       <h1>Awards</h1>
    </div>
    <div class="year">
        <!--<img src="img/Ta-Da!.png" alt="Ta Da!"/>-->
        <h1>2022</h1>
    </div>
    <div class="hat">
        <img src="img/hat.png" alt="hat image for SALPies logo animation"/>
    </div>
    <div class="light">
        <img src="img/light.png" alt="spotlight for SALPies logo animation"/>
    </div>
</div>