<div class="magic">
    <div class="left-hand">
        <img src="img/handleft.png" alt="left hand in logo animation"/>
    </div>
    <div class="right-hand">
        <img src="img/handright.png" alt="right hand in logo animation"/>
    </div>
    <div class="stars">
        <img src="img/stars.gif" alt="sparkly stars in logo animation"/>
    </div>
    <div class="awards-title">
        <!--<img src=".." alt="logo"/>-->
        <h1>Virtual Magic</h1>
    </div>
    <div class="awards-subtitle">
       <!-- <img src=".." alt="subtitle"/>-->
       <h1>Awards</h1>
    </div>
    <div class="year">
        <!--<img src=".." alt="year"/>-->
        <h1>2022</h1>
    </div>
    <div class="hat">
        <img src="img/hat.png" alt="hat image for logo animation"/>
    </div>
    <div class="light">
        <img src="img/light.png" alt="spotlight for logo animation"/>
    </div>
</div>